{% load static %}
<!--
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    username: <input type="text" name="username"><br>
    password: <input type="password" name="password"><br>
    <input type="submit" value="로그인">
</form>
-->

<!doctype HTML>
<head>
	<meta charset="UTF-8">
	<title>Dooribun</title>
	<link rel="stylesheet" href="{% static '/css/dsg.css' %}">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="main-container">
		<div class="main-wrap">
		<header>
			<div class="sel-lang-wrap">
				<select class="lang-select">
					<option>한국어</option>
					<option>English</option>
				</select>
			</div>
			<div class="title">
				<a href="{% url 'home' %}"><img src="{% static '/img/doribun.png' %}" alt="dooribun"></a>
			</div>
		</header>
        <form name="input" action="{% url 'login' %}" method="POST">
		<section class="login-input-section-wrap">
			<div class="login-input-wrap">	
				<input placeholder="Username" type="text" name="username"></input>
			</div>
			<div class="login-input-wrap password-wrap">	
				<input placeholder="Password" type="password" name="password"></input>
			</div>
			<!--여기 action에 주소 넣어주세연-->
			<div class="login-button-wrap">
    			    {% csrf_token %}
                    <input id="input1" type="submit" value="sign in">
			</div>
			<div class="login-stay-sign-in">
				<i class="far fa-check-circle"></i>
				<span>Stay Signed in</span>
			</div>
		</section>
        </form>
			<div class="forget-msg">
				Forgot your Username or Password? | <a href="{% url 'signup' %}">Sign up</a></div>
		<footer>
			<div class="copyright-wrap">
			<span> Copyright © Dooribun Corp. All Rights Reserved.<p></p>
				멋쟁이사자처럼 at SYU 10기
				김다영 유진 이세진 이지영
			</span>
			</div>
		</footer>
		</div>
	</div>
</body>