<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/css/style.css">
    <title>두리번 마켓</title>

    <!-- bootstrap start -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- bootstrap end -->

    <meta name="description" content="두리번 마켓 공식사이트" />
    <meta name="keywords" content="두리번 마켓, 두리번," />

    <!-- Favicon -->
    <!-- 홈페이지 상단 파비콘 넣을 것 -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet">

  
</head>
<body>
    <!-- nav start -->
   <nav class="navbar">
       <div class="navbar_logo">
           <a href="../index.html">
                <img class="logo-main row-sm-4 mx-0" src="../img/logo-eyes.png" width="80", height= "40">
                <img class="logo-main row-sm-4 mx-0" src="../img/logo-name.png" width="80", height= "40">
           </a>
        </div>

       <ul class="navbar_menu row-sm-4">
          <li><a href="">Home</a></li>
          <li><a href="">Chat</a></li>
          <li><a href="">List</a></li>
       </ul>
    </nav>   
    <!-- nav end -->

    <!-- area select start -->
    <div class="area-select">
        <select name="">
            <option>-선택-</option>
            <option value='1'>강남구</option>
            <option value='2'>강동구</option>
            <option value='3'>강북구</option>
            <option value='4'>강서구</option>
            <option value='5'>관악구</option>
            <option value='6'>광진구</option>
            <option value='7'>구로구</option>
            <option value='8'>금천구</option>
            <option value='9' selected>노원구</option>
            <option value='10'>도봉구</option>
            <option value='11'>동대문구</option>
            <option value='12' >동작구</option>
            <option value='13'>마포구</option>
            <option value='14'>서대문구</option>
            <option value='15'>서초구</option>
            <option value='16'>성동구</option>
            <option value='17'>성북구</option>
            <option value='18'>송파구</option>
            <option value='19'>양천구</option>
            <option value='20'>영등포구</option>
            <option value='21'>은평구</option>
            <option value='22'>종로구</option>
            <option value='23'>중구</option>
            <option value='24'>중랑구</option>
          </select>
    </div>
    <!-- area select end -->

    <!-- item section start-->
    <div class="item">
        <div class="item-left">
            <div class="item-location">중계동 롯데백화점</div>
            <div class="item-img"><img src="../Doribun/img/item_example.jfif" alt="이미지 예시"></img></div>
        </div>

        <div class="item-right">
            <div class="item-right-top">
                <div class="item-name"><h4>우유 1.2L 1+1</h4></div>
                <div class="item-price">가격 : 100만원</div>
            </div>    
            <div class="item-right-bottom">
                <a class="item-number">1/2</a>
                <button class="item-joinbtn">참여</button>
            </div>    
        </div>
    </div>

    <div class="item">
        <div class="item-left">
            <div class="item-location">중계동 롯데백화점</div>
            <div class="item-img"><img src="../Doribun/img/item_example.jfif" alt="이미지 예시"></img></div>
        </div>

        <div class="item-right">
            <div class="item-right-top">
                <div class="item-name"><h4>우유 1.2L 1+1</h4></div>
                <div class="item-price">가격 : 100만원</div>
            </div>    
            <div class="item-right-bottom">
                <a class="item-number">1/2</a>
                <button class="item-joinbtn">참여</button>
            </div>    
        </div>
    </div>
        <!-- item section end-->



    <!-- Footer Start -->
    <div class="footer">
        <div>
            &copy; Doribun<br>
            멋쟁이사자처럼 at SYU 10기<br> 
            김다영 유진 이세진 이지영 
        </div>
    </div>
    <!-- Footer End -->
    
    
    <!-- JavaScript Libraries -->

</body>
</html>