{% load static %}
<!--
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>
    <input type="submit" value="submit">
</form>
-->

<!DOCTYPE html>
<html lnag="ko">
    <head>
        <meta charset="UTF-8">
        <title>두리번 : POST</title>
        <link rel="stylesheet" href="{% static '/css/design.css' %}">
        
    </head>
    <body>
        <!-- header -->
        <div id="header">
            <a href="{% url 'home' %}"><img src="{% static '/img/doribun.png' %}"></a>
        </div>


        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <form action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="content">
                <!-- 지역 -->
                <div>
                    <h3 class="join_title">
                        <label for="id">지역</label>
                    </h3>
                        <div class="area-select">
                            {{form.area}}
                        </div>
  
                </div>

                <!-- 매장이름 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">매장 이름</label></h3>
                    <span class="box int_pass">
                       {{form.location}}
                    </span>
                </div>

                <!-- 상품명 -->
                <div>
                    <h3 class="join_title"><label for="pswd2">상품명</label></h3>
                    <span class="box int_pass">
                        {{form.item}}
                    </span>
                </div>

                <!-- 가격 -->
                <div>
                    <h3 class="join_title"><label for="name">가격</label></h3>
                    <span class="box int_name">
                        {{form.price}}
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 인원 -->
                <div>
                    <h3 class="join_title"><label for="yy">인원</label></h3>
                    <span class="box int_name">
                        {{form.head}}
                    </span>
                    <span class="error_next_box"></span>    
                </div>

                <!-- 상품 사진 첨부 -->
                <div>
                    <h3 class="join_title"><label for="gender">상품 사진 첨부</label></h3>
                    {{form.photo}}
                </div>

               

                <!-- POST BTN-->
                <form action="">
                <div class="btn_area">
                    <input id="btnJoin" type="submit" value="POST" >
                    </button>
                </div>
                </form>

                

            </div> 
            </form>
            <!-- content-->

        </div> 
        <!-- wrapper -->
    <script src="main.js"></script>
    </body>
</html>